<template>
    <el-container id="contacts" class="ms-container" direction="vertical" v-loading="isLoading">
        <el-row justify="space-between" align="middle">
            <el-col :md="24" :lg="8" class="logo width-auto">
                <img src="../../images/logo.png" @click.prevent="$router.push('/').catch(err => {})">
            </el-col>
            <el-col :xs="24" :sm="12" :md="12" :lg="4">
                <el-container direction="vertical">
                    <el-row type="flex">
                        <el-col>
                            <router-link to="/specs" class="el-link el-link--default">Услуги и цены</router-link>
                        </el-col>
                    </el-row>
                    <el-row type="flex">
                        <el-col>
                            <router-link to="/about" class="el-link el-link--default mt-10">О хирурге</router-link>
                        </el-col>
                    </el-row>
                </el-container>
            </el-col>
            <el-col :xs="24" :sm="12" :md="12" :lg="4">
                <el-container direction="vertical">
                    <el-row type="flex">
                        <el-col>
                            <router-link to="/news" class="el-link el-link--default">Новости</router-link>
                        </el-col>
                    </el-row>
                    <el-row type="flex">
                        <el-col>
                            <router-link to="/contacts" class="el-link el-link--default mt-10">Контакты</router-link>
                        </el-col>
                    </el-row>
                </el-container>
            </el-col>
            <el-col :xs="24" :md="12" :lg="4" class="h100">
                <el-container direction="vertical">
                    <el-row type="flex">
                        <el-col class="label">Телефон для связи:</el-col>
                    </el-row>
                    <el-row type="flex">
                        <el-col class="info">{{ phone }}</el-col>
                    </el-row>
                </el-container>
            </el-col>
            <el-col :xs="24" :md="12" :lg="4" class="h100">
                <el-container v-if="info" direction="vertical">
                    <el-row type="flex">
                        <el-col class="label">Электронная почта:</el-col>
                    </el-row>
                    <el-row type="flex">
                        <el-col class="info">{{ info.mail }}</el-col>
                    </el-row>
                </el-container>
            </el-col>
        </el-row>
        <el-row v-if="info" class="mt-10">
            <el-col :md="23" :lg="{ span: 8, offset: 16 }" class="label">
                <el-row type="flex" justify="start" align="middle">
                    <div>Мы в социальных сетях:</div>
                    <a :href="isExternal(info.vk)" target="_blank" class="social-link">
                        <img src="../../images/vk.svg" class="social-icon">
                    </a>
                    <a :href="isExternal(info.fb)" target="_blank" class="social-link">
                        <img src="../../images/facebook.svg" class="social-icon">
                    </a>
                    <a :href="isExternal(info.insta)" target="_blank" class="social-link">
                        <img src="../../images/instagram.svg" class="social-icon">
                    </a>
                </el-row>
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
import service from '../service';
import { AsYouType } from 'libphonenumber-js'

export default {
    name: 'MsContacts',

    data() {
        return {
            info: null,
            phone: '',
            isLoading: false,
        };
    },

    created() {
        this.isLoading = true;
        this.loadPage();
    },

    methods: {
        async loadPage() {
            this.info = await service.getInfo();
            this.phone = new AsYouType('RU').input(this.info.phone);
            this.isLoading = false;
        },
        isExternal(path) {
            const isExt = /^(https?:|mailto:|tel:)/.test(path);

            if (isExt) return path;
            return `https://${path}`;
        },
    }
}
</script>

<style lang="scss">
@import '../../sass/variables';

#contacts {
    height: 280px;
    font-family: 'ProximaNovaRegular', sans-serif;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 800px) {
        height: 100%;
    }

    .mt-10 {
        margin-top: 10px;
    }

    .logo img {
        width: 234px;
        height: 56px;
        cursor: pointer;
    }

    .h100 {
        height: 100%;
    }

    .label {
        font-family: 'ProximaNovaLight', sans-serif;
        font-size: 14px;
        color: $--color-gray-label;
        white-space: nowrap;

        .social-link {
            display: flex;

            .social-icon {
                width: 28px;
                height: 28px;
                margin-left: 15px;
            }
        }
    }
    .info {
        font-size: 20px;
        color: $--color-primary;
        white-space: nowrap;
    }
}
</style>
