<template>
    <el-container id="form" direction="vertical" :class="{ 'inline-form': inline }" v-loading="isLoading">
        <el-form v-if="!isSended" ref="form" :inline="inline" :rules="rules" :model="form" class="form-card">
            <el-form-item class="desc w-100">
                <label>Быстрая онлайн</label>
                <h3>Запись на приём</h3>
            </el-form-item>
            <el-form-item class="w-100" prop="name">
                <el-input placeholder="Ваше имя" v-model="form.name" />
            </el-form-item>
            <el-form-item class="w-100" prop="number">
                <el-input type="number" placeholder="Ваш номер телефона" v-model="form.number" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="validateForm">Записаться на прием</el-button>
            </el-form-item>
            <el-form-item v-if="!inline" class="desc">
                <label>После онлайн записи на приём, с вами свяжется менеджер для уточнения времени и условий приёма!</label>
            </el-form-item>
        </el-form>
        <el-form v-else :inline="inline" class="form-card sended" :class="{ 'inline-form': inline }">
            <el-form-item class="image-item">
                <el-image
                    src="../../images/check.svg"
                    fit="contain" />
            </el-form-item>
            <el-form-item class="w-100">
                <h3>Спасибо!</h3>
            </el-form-item>
            <el-divider v-if="inline" direction="vertical" />
            <el-form-item class="desc">
                <label>После онлайн записи на приём, с вами свяжется менеджер для уточнения времени и условий приёма!</label>
            </el-form-item>
            <el-form-item v-if="!inline">
                <el-button type="primary" @click="close">Вернуться на сайт</el-button>
            </el-form-item>
        </el-form>
    </el-container>
</template>

<script>
import service from '../service';

export default {
    name: 'MsForm',

    props: {
        inline: {
            type: Boolean,
            default: true,
        }
    },

    data() {
        return {
            isLoading: false,
            isSended: false,
            form: {
                name: '',
                number: '',
            },
            rules: {
                name: [
                    { required: true, message: 'Напишите Ваше имя', trigger: 'change' }
                ],
                number: [
                    { required: true, message: 'Напишите Ваш телефон', trigger: 'change' }
                ],
            },
        };
    },

    methods: {
        validateForm() {
            this.$refs.form.validate((valid) => {
                if (valid) this.submitForm();
            });
        },
        async submitForm() {
            this.isLoading = true;
            try {
                await service.sendMail(this.form);

                this.isSended = true;
                this.form.name = '';
                this.form.number = '';
            } catch (e) {
                this.$message.error('Упс, что-то пошло не так.');
                console.log(e);
            } finally {
                this.isLoading = false;

                setTimeout(() => {
                    this.isSended = false;
                }, 20000);
            }

        },
        close() {
            this.$emit('close');
            this.isSended = false;
        }
    },
}
</script>

<style lang="scss">
@import '../../sass/app';

#form {
    background-color: $--color-background;
    padding: 0 50px;

    .form-card {

        .el-form-item {

            .el-input__inner {
                height: 60px;
            }

            .el-button {
                width: 100%;
                margin-bottom: 20px;
            }

            &.image-item {
                margin: 0;

                .el-image {
                    display: flex;
                    justify-content: center;

                    .el-image__inner {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }

        &.sended {

            .el-form-item {
                margin-bottom: 30px;

                .el-button {
                    margin: 0;
                }

                h3 {
                    text-align: center;
                }
            }
        }

        .desc .el-form-item__content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;

            label {
                font-size: 16px;
                line-height: 16px;
                text-align: center;
            }

            h3 {
                font-family: ProximaNovaRegular, sans-serif;
                line-height: 44px;
            }
        }
    }

    &.inline-form {
        @include box-shadow;
        border-radius: 10px;
        padding: 60px 50px;
        margin-bottom: 45px;

        .form-card {
            display: flex;

            .el-form-item {
                margin: 0;

                .el-button {
                    margin: 0;
                }
            }

            & > * div {
                flex: 1;
            }

            .w-100 {
                display: flex;
                width: 100%;
                margin-right: 20px;
            }

            .desc .el-form-item__content {
                align-items: flex-start;
            }

            &.sended {
                .el-form-item {
                    display: flex;
                    align-items: center;
                    flex: 1;

                    &.image-item {
                        margin-right: 30px;

                        .el-image {
                            justify-content: flex-end;
                        }
                    }

                    &.desc {
                        flex: 4;

                        label {
                            font-size: 20px;
                            line-height: 28px;
                            text-align: left;
                        }
                    }
                }

                .el-divider--vertical {
                    height: auto;
                    width: 2px;
                    background-color: $--color-primary;
                    margin: 0 40px;
                }
            }
        }
    }
}
</style>
