<template>
    <header id="header" v-loading="isLoading">
        <div class="logo">
            <img src="../../images/logo.png" @click.prevent="$router.push('/').catch(err => {})">
        </div>
        <router-link to="/specs" class="el-link el-link--default">Услуги и цены</router-link>
        <router-link to="/about" class="el-link el-link--default">О хирурге</router-link>
        <router-link to="/news" class="el-link el-link--default">Новости</router-link>
        <router-link to="/contacts" class="el-link el-link--default">Контакты</router-link>
        <div>
            <el-input v-model="search" @change="toSearch">
                <i class="el-icon-search"
                   slot="prefix" />
            </el-input>
        </div>
        <div class="tel">{{ phone }}</div>
        <el-button type="primary" @click="dialogVisible = true">Записаться на прием</el-button>
        <el-dialog
            :visible.sync="dialogVisible"
            append-to-body
            destroy-on-close
            width="40%">
            <MsForm :inline="false" @close="dialogVisible = false" />
        </el-dialog>
    </header>
</template>

<script>
import MsForm from "../components/MsForm";
import service from '../service';
import { AsYouType } from 'libphonenumber-js'

export default {
    name: 'MsHeader',

    components: { MsForm },

    data() {
        return {
            phone: '',
            search: '',
            contacts: null,
            isLoading: false,
            dialogVisible: false,
        };
    },

    created() {
        this.isLoading = true;
        this.loadPage();
    },

    methods: {
        async loadPage() {
            this.info = await service.getInfo();
            this.phone = new AsYouType('RU').input(this.info.phone);
            this.isLoading = false;
        },
        toSearch() {
            const search = this.search;

            this.search = '';
            this.$router.push({ name: 'search', params: { search } })
        },
    }
}
</script>

<style lang="scss">
@import '../../sass/variables';

#header {
    z-index: 10;
    padding: 0;
    height: 110px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    background-color: #fff;
    border-bottom: 1px solid $--color-primary;

    a {
        font-family: 'ProximaNovaRegular', sans-serif;
        font-size: 20px;
        line-height: 20px;

        &.router-link-active {
            color: $--color-primary;
        }
    }

    .tel {
        font-family: 'ProximaNovaLight', sans-serif;
        font-size: 18px;
        line-height: 18px;
    }

    .logo img {
        width: 234px;
        height: 56px;
        cursor: pointer;
    }

    .el-input {
        input {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #FFFFFF;
            background-color: transparent;
            /*height: 30px;*/
            /*line-height: 29px;*/

            &:focus {
                border-bottom: 1px solid $--color-primary;
            }
        }

        .el-input__prefix {
            height: max-content;
            top: 10px;
        }
    }
}
</style>
