<template>
    <el-container direction="vertical" id="faq" class="animated fadeInUp faster ms-container" v-loading="isLoading">
        <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
            <el-col>
                <h2>Часто задаваемые вопросы</h2>
            </el-col>
        </el-row>
        <template v-if="data && data.length > 0">
            <el-row v-for="(faq, index) in data" :key="index" class="faq-row" :class="{ last : index === data.length - 1 }">
                <el-col :span="24">
                    <el-collapse class="faq-collapse">
                        <el-collapse-item :title="faq.question"
                                          :name="index">
                            <p>{{ faq.answer }}</p>
                        </el-collapse-item>
                    </el-collapse>
                </el-col>
            </el-row>
        </template>
    </el-container>
</template>

<script>
import service from '../service';

export default {
    name: 'Faq',

    data() {
        return {
            isLoading: false,
            data: [],
        };
    },

    created() {
        this.isLoading = true;
        this.loadPage();
    },

    methods: {
        async loadPage() {
            this.data = await service.getFaq();
            this.isLoading = false;
        }
    },
}
</script>

<style lang="scss">
    @import '../../sass/app';
    .el-collapse-item__header {
        line-height: 20px !important;
    }
    #faq {
        .title-wrapper {
            margin-bottom: 30px;
        }

        .faq-row {
            margin-bottom: 15px;

            &.last {
                margin-bottom: 50px;
            }

            .faq-collapse {
                @include box-shadow;
                overflow: hidden;
                border-radius: 10px;
                background-color: $--color-background;

                .el-collapse-item {
                    .el-collapse-item__header {
                        padding: 0 40px;
                    }

                    .el-collapse-item__wrap {
                        border-top: 1px solid $--color-primary;

                        .el-collapse-item__content {
                            padding: 30px 40px;
                        }
                    }
                }
            }
        }
    }

</style>
