<template>
  <el-container id="home" direction="vertical" class="ms-container animated fadeInUp faster">
    <el-row type="flex" align="middle" justify="space-between" class="home-row">
      <div class="flex-grow">
        <el-container direction="vertical">
          <el-row type="flex" align="middle" justify="center" class="home-title-wrapper">
            <el-col>
              <h1>Пластическая и эстетическая хирургия в Твери</h1>
            </el-col>
            <el-col>
              <h3>Доктор медицинских наук Сергиенко Елена Николаевна</h3>
            </el-col>
          </el-row>
        </el-container>
      </div>
      <div class="elena-wrapper">
        <img src="../../images/Elena_Sergienko.png" />
      </div>
    </el-row>
    <el-row>
      <MsForm :inline="true" />
    </el-row>
    <News :count="4" />
  </el-container>
</template>

<script>
import News from "./News";
import MsForm from "../components/MsForm";

export default {
  name: "Home",

  components: {
    News,
    MsForm
  }
};
</script>

<style lang="scss">
@import "../../sass/app";

#home {
  .flex-grow {
    flex: 1;
  }

  .elena-wrapper {
    height: 650px;
  }

  .home-title-wrapper {
    flex-direction: column;

    h3 {
      font-family: ProximaNovaLight, sans-serif;
      color: $--color-primary;
      margin-top: 20px;
    }
  }
}
</style>
