<template>
    <el-container direction="vertical" id="info" class="animated fadeInUp faster ms-container" v-loading="isLoading">
        <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
            <el-col>
                <h2>Полезная информация для пациента</h2>
            </el-col>
        </el-row>
        <el-row class="info-row">
            <el-col class="info-el" :span="24">
                <p>В день госпитализации явиться с 8:00 до 8:30 в приемное отделение ГБУЗ "Областная клиническая больница", 1 этаж - регистратура №2 (касса), натощак (с 22:00 предыдущего дня не пить, с 19:00 не есть, утром - не пить, не есть).</p>
            </el-col>
        </el-row>
        <el-row class="info-row">
            <el-col class="info-el"
                    :sm="24"
                    :md="12"
                    :lg="12">
                <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
                    <el-col>
                        <h2>Анализы для госпитализации:</h2>
                    </el-col>
                </el-row>
                <el-row>
                    <p>- клинический анализ крови</p>
                    <p>- общий анализ мочи</p>
                    <p>- сахар крови</p>
                    <p>- общий белок</p>
                    <p>- билирубин</p>
                    <p>- креатинин</p>
                    <p>- мочевина</p>
                    <p>- фибриноген</p>
                    <p>- холестерин</p>
                    <p>- АСТ, АЛТ</p>
                    <p>- группа крови и резус-фактор</p>
                    <p>- ЭКГ с расшифровкой</p>
                    <p>- ФЛГ или рентген легких</p>
                    <p>- заключение терапевта</p>
                    <p>- УЗИ молочных желез или маммография (для женщин)</p>
                    <p>- RW</p>
                    <p>- HbS-Ag</p>
                    <p>- HCV-Ag</p>
                    <p>- ВИЧ</p>
                    <p>- Время свертывания, время кровотечения</p>
                    <p>- ПТИМНО, АЧТВ</p>
                </el-row>
            </el-col>
            <el-col class="info-el"
                    :sm="24"
                    :md="12"
                    :lg="12">
                <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
                    <el-col>
                        <h2>При себе иметь:</h2>
                    </el-col>
                </el-row>
                <el-row>
                    <p>- паспорт;</p>
                    <p>- направление;</p>
                    <p>- результаты анализов (действительны 10 дней);</p>
                    <p>- амбулаторную карту;</p>
                    <p>- предметы личной гигиены;</p>
                    <p>- сменную одежду и обувь;</p>
                    <p>- денежные средства.</p>
                </el-row>
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
export default {
    name: 'Info',

    data() {
        return {
            isLoading: false,
        };
    },
}
</script>

<style lang="scss">
@import '../../sass/app';

#info {
    .title-wrapper {
        margin-bottom: 30px;
    }

    .info-row {
        margin-bottom: 50px;

        .info-el {
            @include row-padding;

            strong {
                font-weight: bold;
            }

            p {
                font-size: 20px;
                line-height: 32px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

</style>
