<template>
    <el-container direction="vertical" id="specs" class="animated fadeInUp faster ms-container" v-loading="isLoading">
        <el-row type="flex" align="middle" justify="space-between" class="title-wrapper">
            <div class="title">
                <h2>Выберите специализацию</h2>
            </div>
        </el-row>
        <el-row class="specs-row desc-list">
            <el-col :sm="24"
                    :md="12"
                    :lg="12"
                    class="specs-el">
                <router-link :to="{ name: 'uslug', params: { id: route.id, title: route.name } }"
                             v-for="(route, index) in leftSpecs"
                             :key="index"
                             class="el-link el-link--default">
                    {{ route.name }}
                </router-link>
            </el-col>
            <el-col :sm="24"
                    :md="12"
                    :lg="12"
                    class="specs-el">
                <router-link :to="{ name: 'uslug', params: { id: route.id, title: route.name } }"
                             v-for="(route, index) in rightSpecs"
                             :key="index"
                             class="el-link el-link--default">
                    {{ route.name }}
                </router-link>
            </el-col>
        </el-row>
        <el-row class="specs-row desc-list">
            <el-col :span="12" @click.capture="$router.push({ name: 'info' })">
                <ms-news-card low
                              svg
                              title="Полезная информация для пациента"
                              description="Всё, что необходимо знать пациенту перед госпитализацией"
                              url="../../images/business.svg"
                              @click.native="$router.push('/info')" />
            </el-col>
            <el-col :span="12">
                <ms-news-card low
                              svg
                              title="Часто задаваемые вопросы пациентов"
                              description="Если вы не нашли своего вопроса, вы можете написать напрямую"
                              url="../../images/question.svg"
                              @click.native="$router.push('/faq')" />
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
import service from '../service';
import MsNewsCard from '../components/MsNewsCard';

export default {
    name: 'Specialize',

    components: { MsNewsCard },

    data() {
        return {
            isLoading: false,
            specsCount: 0,
            specs: null,
        };
    },

    computed: {
        leftCount: vm => Math.ceil(vm.specsCount/2),
        rightCount: vm => vm.specsCount - vm.leftCount,
        leftSpecs: vm => vm.specs && vm.specs.slice(0, vm.leftCount),
        rightSpecs: vm => vm.specs && vm.specs.slice(vm.leftCount),
    },

    created() {
        this.isLoading = true;
        this.loadSpec();
    },

    methods: {
        async loadSpec() {
            this.specs = await service.getSpecs();
            this.specsCount = this.specs.length;
            this.isLoading = false;
        },
    },
}
</script>

<style lang="scss">
@import '../../sass/app';

#specs {
    margin-bottom: 50px;

    .title-wrapper {
        margin-bottom: 30px;
    }

    .specs-row {

        .specs-el {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            a {
                font-family: 'ProximaNovaRegular', sans-serif;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 40px;
            }
        }

        &.desc-list {
            .el-col-md-12,
            .el-col-lg-12,
            .el-col-12 {
                &:first-child {
                    padding-right: 30px;
                }
                &:last-child {
                    padding-left: 30px;
                }
            }
        }
    }
}
</style>
