@import '~animate.css';
// Variables
@import 'variables';

// Fonts
@import 'fonts';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'ProximaNovaLight', sans-serif;
    color: #000000;
    font-size: 20px;
    line-height: 32px;
}

h1 {
    font-family: 'ProximaNovaLight', sans-serif;
    font-size: 48px;
    line-height: 68px;
}

h2 {
    font-family: 'ProximaNovaRegular', sans-serif;
    font-size: 32px;
    line-height: 68px;
}

h3 {
    font-family: 'ProximaNovaSemibold', sans-serif;
    font-size: 28px;
    line-height: 46px;
}

.ms-container {
    width: 1170px;
    margin-left: auto!important;
    margin-right: auto!important;

    @media only screen and (max-width: 1180px) {
        width: 1024px;
    }

    @media only screen and (max-width: 1064px) {
        width: 764px;
    }

    @media only screen and (max-width: 800px) {
        width: 500px;
    }
}

.el-link {
    line-height: 100%;
    cursor: pointer;

    &.is-underline {
        &:hover:after {
            border-bottom: 1px solid $--color-primary;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 0;
            bottom: 0;
            border-bottom: 1px solid $--color-primary;
        }
    }
}

.el-dialog__wrapper {
    .el-dialog {
        border-radius: 10px;

        .el-dialog__header {
            padding: 40px 30px 10px;
        }
        .el-dialog__body {
            padding: 20px 0 40px;

            .el-row {
                margin-bottom: 50px;

                &.dialog-row {
                    padding: 0 50px;

                    &.date-row {
                        margin-bottom: 0;

                        .date {
                            font-size: 14px;
                            line-height: 14px;
                            margin-bottom: 15px;
                            color: $--color-gray-label;
                        }
                    }

                    .title {
                        color: $--color-primary;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

            .el-image {
                width: 100%;
                max-height: 400px;
            }
        }
    }
}

@mixin contact {
    .ms-icon {
        width: 16px;
        height: 18px;
        margin-right: 10px;
    }

    .desc-header {
        margin-bottom: 40px;

        h2 {
            font-family: 'ProximaNovaLight', sans-serif;
            font-size: 28px;
            line-height: 28px;
            color: $--color-primary;
        }
    }

    .desc-title {
        margin-bottom: 20px;
    }

    .desc-list {
        .desc-el {
            margin-bottom: 70px;
        }

        span {
            font-family: 'ProximaNovaLight', sans-serif;
            font-size: 16px;
            line-height: 16px;
            margin: 10px 0;
        }

        h3 {
            font-family: 'ProximaNovaRegular', sans-serif;
            font-size: 20px;
            line-height: 20px;
        }
    }
}

@mixin box-shadow {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
}

@mixin view-title {
    font-family: 'ProximaNovaRegular', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: $--color-primary;
    margin-bottom: 15px;
}

@mixin row-padding {
    &:nth-child(2n+1) {
        padding-right: 30px;
    }
    &:nth-child(2n) {
        padding-left: 30px;
    }

    @media only screen and (max-width: 992px) {
        padding-left: 0!important;
        padding-right: 0!important;;
    }
}
