<template>
    <el-container direction="vertical" id="main-wrapper">
        <ms-header />
        <el-row v-if="$route.path !== '/'" class="ms-breadcrumb ms-container">
            <el-col>
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/' }">Главная</el-breadcrumb-item>
                    <template v-if="$route.params && $route.params.title">
                        <el-breadcrumb-item :to="{ path: $route.meta.parent }">{{ $route.meta.title }}</el-breadcrumb-item>
                        <el-breadcrumb-item>{{ $route.params.title }}</el-breadcrumb-item>
                    </template>
                    <template v-else>
                        <el-breadcrumb-item>{{ $route.meta.title }}</el-breadcrumb-item>
                    </template>
                </el-breadcrumb>
            </el-col>
        </el-row>
        <router-view />
        <ms-footer />
    </el-container>
</template>

<script>
// Components
import MsHeader from "./components/MsHeader";
import MsFooter from "./components/MsFooter";

export default {
    components: {
        MsHeader,
        MsFooter,
    },

    data() {
        return {
            active: "price",
            items: [
                { key: "price", title: "Услуги и цены" },
                { key: "about", title: "О хирурге" },
                { key: "news", title: "Новости" },
                { key: "contacts", title: "Контакты" }
            ]
        };
    },

    methods: {
        isActive(name) {
            return this.active === name;
        },
        select(name) {
            this.active = name;
        }
    }
};
</script>

<style lang="scss">
@import '../sass/variables';

#main-wrapper {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-color: $--color-background;
    padding-top: 110px;
    background-attachment: fixed;
    background-size: cover;

    .ms-breadcrumb {
        margin: 50px 0 20px;
        .el-breadcrumb__inner {
            &:not(.is-link) {
                color: $--color-gray-label;
            }
        }
    }
}
</style>
